<app-form title="Dodaj użytkownika">
  <app-form-input
    name="Email"
    type="email"
    [control]="form.controls.email"
  ></app-form-input>
  <app-form-input
    name="Imię"
    [control]="form.controls.firstName"
  ></app-form-input>
  <app-form-input
    name="Nazwisko"
    [control]="form.controls.lastName"
  ></app-form-input>
  <app-form-input
    name="Hasło"
    type="password"
    [control]="form.controls.password"
  ></app-form-input>

  <app-form-multiselect
    name="Role"
    [options]="roles"
    [control]="form.controls.role"
  ></app-form-multiselect>
  <app-form-button
    text="Dodaj"
    (click)="onSubmit()"
    [disabled]="!form.valid"
  ></app-form-button>
</app-form>

<app-alert
  alertId="successAlert"
  message="Użytkownik dodany pomyślnie."
></app-alert>
