:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

a {
  color: inherit;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid black;
  text-decoration: none;
}
